


	 <h3> Total clients  <%= @clients_count %></h3>

	 <h3> Total projects <%= @projects_count %> </h3>

	 <h3> Total tasks <%= @tasks_count %> </h3>


	 <h3> Listing Clients </h3>
	 <table border="1"  bgcolor="lavender" class="table table-striped">
	 	
	 	<thead>
	 		<tr>
	 			<th style="color:red"> Sl No </th>
	 			<th style="color:red"> Name </th>
	 			<th style="color:red"> Company </th>
	 			<th style="color:red"> Email </th>
	 			<th style="color:red"> WebSite </th>
	 		</tr>
	 	</thead>
	 </tbody>

     <% @clients.each_with_index do |client,index| %>

        <tr> 
        	<td style="color:green"> <%= index+1 %></td>
        	<td style="color:green"> <%= client.name %> </td>
        	<td style="color:green"> <%= client.company%> </td>
        	<td style="color:green"> <%= client.email%> </td>
        	<td style="color:green"> <%= client.website %></td>
        </tr>
        <% end%>
    </tbody>
</table>










	 