
  <cener> <h3 style="color:green"> Listing Project Tasks</h1></center> 
	<% Project.all.each do |project| %>
	 <h4 style="color:red"><%= project.name %></h3>
	 <ul>
     <% project.tasks.each do |task| %>
     <li style="color:#E0218A"><%= task.name %></li>
     <% end %>
     </ul>
     <% end %>


     <h3> Listing all projects</h3>




     <% data = {} %>
     <% Client.all.each do |client| %>
     <% data["#{client.name}"] =client.projects.size%>
     <%end%>

     <%= pie_chart(data)%>

     <% projects = {}%>

     <% Project.all.each do |project|%>
     <% projects["#{project.name}"]=project.tasks.size%>
     <%end%>
     <%= column_chart(projects)%>


     <%= link_to "Export", projects_path(format: "xls")%>
     <%= link_to "All projects", projects_path%>
     <%= link_to "add projects", new_project_path %>
     <table border=1>
     	<thead>
     		<tr> 
     			<th> Sl No </th>
     			<th> name</th>
     			<th> status</th>
     			<th> start_date</th>
     			<th>client</th>
     		</tr>
     	</thead>
     <tbody>

     <% @projects.each_with_index do |project,index|%>
     <tr> 
     	<td> <%= index + 1 %> </td>
          <td> <%= link_to project.name, project_path(project)%> </td>
     	<td> <%= project.status %></td>
     	<td> <%= project.start_date.strftime("%A,%d,%B,%Y")%></td>
     	<td> <%= project.client.try(:name) %> </td>
          <td> <%= link_to "set as current project", projects_set_current_project_path(project_id:project.id)%>
     </tr>
     <%end%>
 </tbody>
</table>
