<!DOCTYPE html>
<html>
<head>
  <title>PmTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

</head>
<body>
	<center>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


       <% if user_signed_in? %>
       Welcome |<%= current_user.email %>, <%= link_to "Profile"%> | <%= link_to "ACCOUNT_SETTING", edit_user_registration_path %> | <%= link_to "log out", destroy_user_session_path, method: :delete %>
       <%else %>
       	<%= link_to "Sign_up", new_user_session_path %> | <%= link_to "registration", new_user_registration_path%>
       	<%end%>


<%= yield %>

</center>
</body>
</html>
